ion-content{
    --background:url(../../../assets/welcome.jpg)
}

ion-content > ion-list{
    position: relative;
    top: 30%;
}
.btn-center-align{
    text-align: center!important;
}
.btn-center-align ion-button{
    --color: white;
}
.btn-center-align ion-button:hover{
    --color: black;
}

//per la trasparenza
ion-item{
    --background: #ffffffa1;

    --min-height: 40px;
}
ion-list{
    background-color: #ffffffa1;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 4%;
}

:host{
    --min-height: 39px;
}
