<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label><ion-icon name="person"></ion-icon></ion-label>
      <ion-input placeholder="Username" [(ngModel)]="user" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><ion-icon name="lock"></ion-icon></ion-label>
      <ion-input placeholder="Password" [(ngModel)]="pass" type="Password"></ion-input>
    </ion-item>
    <div class="btn-center-align">
      <ion-button color="danger" shape="round" (click)="signIn()">Sign In</ion-button><br>
      <!--<ion-button color="primary" shape="round" routerLink="/home">Sign In</ion-button><br>-->
      
      <table>
        <tr>
          <td class="start">
            <a routerLink="/forgot">Forgot Password?</a>
          </td>
          <td class="end">
            <a routerLink="/register">Registrati</a>
          </td>
        </tr>
      </table>
    </div>
  </ion-list>
</ion-content>
