<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button color="danger" (click)="sendToAddRicetta()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="sendToHome()">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="sendToLeMieRicette()">
      <ion-icon name="albums"></ion-icon>
      <ion-label>Le mie ricette</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="sendToFrigorifero()">
      <ion-icon name="pizza"></ion-icon>
      <ion-label>Frigorifero</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="sendToStrumenti()">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Strumenti</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
