<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>Strumenti</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (click)="goToTimer()">
    <img src="../../assets/timer.png" />
    <ion-card-header>
      <ion-card-subtitle>timer</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card (click)="goToCalcolatrice()">
    <img src="../../assets/calculator.png" />
    <ion-card-header>
      <ion-card-subtitle>calcolatrice</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card (click)="goToConvertitore()">
    <img src="../../assets/converter.png" />
    <ion-card-header>
      <ion-card-subtitle>convertitore</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
<app-toolbar></app-toolbar>
