<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>Nuova ricetta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label><ion-icon name="clipboard"></ion-icon></ion-label>
    <ion-input placeholder="Nome della ricetta" [(ngModel)]="nameOfRicetta" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label><ion-icon name="people"></ion-icon></ion-label>
    <ion-input placeholder="Per quante persone?" [(ngModel)]="numOfPerson" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label><ion-icon name="basket"></ion-icon><a style="color: #8c8c8c;"> Portata</a></ion-label>
    <ion-select value="Antipasto" (ionChange)="setTypeOfRicetta($event)">
      <ion-select-option *ngFor="let item of typeOfRicettaArray">{{item}}</ion-select-option>
    </ion-select>
  </ion-item>

  <div class="div-align-center">
    <h1><ion-label color="medium">INGREDIENTI</ion-label></h1>
  </div>

  <ion-list>
    <ion-item *ngFor="let item of typeOfRicettaArray">{{item}}</ion-item>
  </ion-list>

  <ion-button expand="block" color="danger">Aggiungi ingredienti +</ion-button>

  <div class="div-align-center">
    <h1><ion-label color="medium">STEP</ion-label></h1>
  </div>

  <ion-list>
      <ion-card *ngFor="let item of steps">
        <ion-card-header>
          <ion-card-title>Step {{item.numOfStep}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{item.descrizione}}
        </ion-card-content>
      </ion-card>
  </ion-list>

  <ion-item>
    <ion-textarea placeholder="Inserisci lo step..." [(ngModel)]="step"></ion-textarea>
  </ion-item>
  <ion-button expand="block" color="danger" (click)="sddStep()">Aggiungi Step</ion-button>

  <ion-button expand="block" color="success">Conferma ricetta</ion-button>
</ion-content>
<app-toolbar></app-toolbar>