<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Timer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label>Imposta il timer...</ion-label>
    <ion-datetime displayFormat="mm" [(ngModel)]="mydate" (ionChange)="doSomething($event)"></ion-datetime>
  </ion-item>

  <div class="center-align">
    <ion-label><a id="timer">{{minuti}}</a>m <a id="timer">{{secondi}}</a>s</ion-label>
  </div>

  <ion-button expand="block" color="success" id="start" style="display:none;" (click)="start()">Start</ion-button>
  <ion-button expand="block" color="success" id="continue" style="display:none;" (click)="continue()">Continue</ion-button>
  <ion-button expand="block" color="warning" id="pausa" style="display:none;" (click)="pausa()">Pausa</ion-button>
  <ion-button expand="block" color="danger" id="stop" style="display:none;" (click)="stop()">Stop</ion-button>

</ion-content>
