<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="dark"></ion-menu-button>
      </ion-buttons>
    <ion-title>Le mie ricette</ion-title>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-button color="danger" size="small">Antipasto</ion-button>
      <ion-button color="danger" size="small">Primo</ion-button>
      <ion-button color="danger" size="small">Secondo</ion-button> 
      <ion-button color="danger" size="small">Contorno</ion-button>   
      <ion-button color="danger" size="small">Dolce</ion-button>
  </ion-list>

      <!--lista di ricette-->
    <ion-list>
        <ion-item>
          <ion-card>
              <ion-card-header>
                <ion-img src="../assets/carbonara.jpg"></ion-img>
                <ion-card-subtitle>Primo</ion-card-subtitle>
                <ion-card-title>Carbonara</ion-card-title>
              </ion-card-header>
          </ion-card> 
        </ion-item><br>
      </ion-list>
    
</ion-content>
<app-toolbar></app-toolbar>