<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Nel mio frigorifero
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-align-center">
    <ion-button color="danger" (click)="goToAddFrigoItem()">Aggiungi ingredienti</ion-button>
  </div>
  
  <ion-list>
    <ion-item *ngFor="let item of items">
      {{item}}
      <div class="item-note" slot="end" (click)="deleteElement(item)" id="delete">
        X
      </div>
    </ion-item>
  </ion-list>

  <div class="div-align-center" id="final">
    <ion-button color="danger">Vedi le ricette</ion-button>
  </div>
</ion-content>
  <app-toolbar></app-toolbar>
